body{
    background-color: #25274D;
    font-weight: bold;
    font-size: 15px;
}

.divtext {
    background-color: #FF9B00;
    border-radius: 15px 0px 0px 15px;
}

.divform{
    background-color: cornsilk;
    border-radius: 0px 15px 15px 0px;
}

.buton{
    background-color: #25274D;
    color: white;
}